.magicGrid {
  grid-area: magic-grid;
  display: grid;
  margin: var(--magic-grid-margin, 1rem);
  gap: var(--magic-grid-gap, 1rem);
  grid-template-columns: repeat(var(--magic-grid-columns, 7), 1fr);
  grid-auto-rows: calc(
    calc(
        100vw -
          calc(
            calc(var(--magic-grid-margin, 1rem) * 2) +
              calc(
                var(--magic-grid-gap, 1rem) * (var(--magic-grid-columns, 7) - 1)
              )
          )
      ) / var(--magic-grid-columns, 7)
  );
  grid-auto-flow: row;
}

@media screen and (min-width: 768px) {
  .magicGrid {
    --magic-grid-margin: 2rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.magicGridContainer {
  display: grid;
  grid-template: "action-bar" "magic-grid" / 1fr;
}

.actionBar {
  grid-area: action-bar;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.shuffleButton {
  display: flex;
  flex-direction: row;
  border: solid black 0.15rem;
  border-radius: 50rem;
  padding: 1rem;
  cursor: pointer;
}

.shuffleButton::before {
  display: block;
  content: "";
  width: 1.2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-arrow-repeat' viewBox='0 0 16 16'%3E%3Cpath d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/%3E%3Cpath fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.2rem;
  margin-right: 0.5rem;
}

.rotateShuffleButton::before {
  animation: rotate 1s;
}

.shuffleButton:hover {
  color: white;
  background-color: black;
}

.shuffleButton:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-arrow-repeat' viewBox='0 0 16 16'%3E%3Cpath d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/%3E%3Cpath fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/%3E%3C/svg%3E");
}

.searchBar {
  border: none;
  border-bottom: solid darkgray 0.1rem;
  outline: none;
  width: 15rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='darkgray' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: left center;
  background-size: 1.2rem;
  padding-left: 2rem;
  transition: all 0.5s;
}

.searchBar:focus {
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
  border-bottom: solid black 0.1rem;
}
