if command -v just &> /dev/null; then
	just install
else
	echo "WARNING: just is not installed so you're not in the project dedicated environment"
fi

if [[ -d .venv ]]; then
	source .venv/bin/activate
fi

# https://github.com/direnv/direnv/wiki/PS1
unset PS1
