.articleButton {
  display: block;
  border-radius: 80rem;
  padding: 0.8rem;
  padding-left: 2.5rem;
  padding-right: 1.2rem;
  margin: 0.5rem;
  background-color: black;
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-link-45deg' viewBox='0 0 16 16'%3E%3Cpath d='M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z'/%3E%3Cpath d='M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z'/%3E%3C/svg%3E");
  font-weight: 500;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0.8rem center;
  background-size: 1.5rem;
}

.article {
  min-height: 14rem;
  padding: 0rem 1rem 1rem 1rem;
  margin-bottom: 0.5rem;
}

.articleTitle {
  font-weight: 600;
  font-size: 1.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.visiblePartContainer {
  border-top: solid black 0.15rem;
}

.articleTopString {
  display: block;
  font-size: 0.9em;
  font-weight: 100;
  color: gray;
  margin-top: 0.6rem;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
